<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <base href="/">
</head>

<body>
    <a href="/about">
        <h1>Welcome to my sad website</h1>
    </a>
    <a href="/toppings">
        <h1>Toppings here!</h1>
    </a>
    <div class="submit">
        <form class="submit__form">
            <label for="topname" class="submit__label">Topping:</label><br>
            <input name="topname" type="text" class="submit__input">
            <button type="submit" class="submit__button">Submit</button>
        </form>
    </div>
    <script src="client.js"></script>
</body>

</html>