<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <base href="/">
</head>

<body>

        <h1>Welcome to the pizza builder website!</h1>

    <a href="/toppings">
        <h2>Click here! to see the toppings JSON</h2>
    </a>
    <div class="submit">
        <form class="submit__form">
            <label for="topname" class="submit__label">Topping:</label><br>
            <input name="topname" type="text" class="submit__input">
            <button type="submit" class="submit__button">Submit</button>
        </form>
    </div>
    <script src="js/client.js"></script>
</body>

</html>