* {
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 58, 58);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50vw;
}

.topping{
    display: flex;
    flex-direction: row;
    justify-items: center;
    
}

.topping__name {
    color: antiquewhite;
    font-size:16px;
    border: none;
    width: 50%;
    text-align: center;
}

.topping__button {
    display: block;
    font-size:16px;
    width: 80%;
}

.submit{

}
.submit__form{
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;

}
.submit__label{
    background-color: lightcyan;
}
.submit__input{
    background-color: white;
    color: black;
    width: 100%;
}
.submit__button{
    background-color: lightcyan;
    width: 40%;
}