* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.list {
    display: flex;
    flex-direction: column;
}

.topping{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    width: 50vw;
}

.topping__name {
    color: antiquewhite;
    font-size:16px;
    border: none;
    width: 50%;
    text-align: center;
}

.topping__button {
    display: block;
    font-size:16px;
 
    width: 80%;
}

.submit{
    background-color: lightcyan;
}
.submit__form{
    background-color: lightcyan;
}
.submit__label{
    background-color: lightcyan;
}
.submit__input{
    background-color: lightcyan;
    color: black;
}
.submit__button{
    background-color: lightcyan;
}